.outerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.container{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    gap: 0vw;

}
.input{
    width: clamp(120px, 10vw, 10vw);
    height: clamp(30px, 1vh, 4vh);
    border-radius: 15px;
    border: none;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.453);
    margin-right: 2vw;
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-size: calc(12px + 0.3vw);
}
.input:focus{
    outline: none;
    box-shadow: 1px 1px 10px white;
    font-size: calc(12px + 0.3vw);
}
.input::placeholder{
    text-align: center;
        font-size: calc(12px + 0.3vw);
}
.searchDiv{
    display: flex;
    flex-direction: column;
}
.btnDiv{
    position: absolute;
    left: 0;
    right: 0;
    top: 55vh;
    /* margin-top: 5vh;
    margin-left: -15vw; */
}
.info{
    font-family: serif;
    font-size: calc(20px + 0.5vw);
    cursor: pointer;
    margin-top: 3vh;
}

.infoText{
    width: clamp(150px, 20vw, 20vw);
    height: auto;
    padding: 2vw;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    position: absolute;
    right: 20vw;
    top: 50vh;
    z-index: 2;
    font-family: sans-serif;
    background-color: white;
}
.switch{
    margin-top: 5vh;
    margin-right: 1vw;
    width:calc( 15px + 1vw);
    cursor: pointer;
}
.countryCodes{
    height: 14vh;
    width: clamp(70px, 7vw, 7vw);
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    /* padding: 1vw; */
    margin: 1vw;
    color: white;
    
}
.countryCodesTo{
    height: 14vh;
    width: clamp(70px, 7vw, 7vw);
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 1vw;
    color: white;
}

.curencyCodeText{
    cursor: pointer;
}
.curencyCodeText:hover{
    width: 100%;
    background-color: rgb(248, 235, 66);
    color: black;
}
.amountAndCodesDivWrapper{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(128, 128, 128, 0.453);
    border-radius: 5px;
    padding: 1vw;
  
}
.exchnageInfoText{
    font-size: calc(8px + 0.2vw);
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
    padding: 1vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    width: clamp(70px, 15vw, 15vw);

}
.amountAndCodesDiv{
    display: flex;
    flex-direction: row;

}
.placeholderDiv{
    width: 10vw;
}
.currencyInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0vh;
    margin: 0vw 2vw 0vw 2vw;
    font-size: calc(10px + 0.5vw);
    font-family: 'Courier New', Courier, monospace;
}

