.outerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    background-image: url('https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
    padding-top: 5vh;
    padding-bottom: 15vh;
    margin-bottom: 10vh;
}
.container{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    gap: 0vw;

}
.input{
    width: clamp(120px, 10vw, 10vw);
    height: clamp(30px, 1vh, 4vh);
    border-radius: 15px;
    border: none;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.453);
    margin-right: 2vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: calc(12px + 0.3vw);
}
.inputRed{
    width: clamp(120px, 10vw, 10vw);
    height: clamp(30px, 1vh, 4vh);
    border-radius: 15px;
    border: none;
    text-align: center;
    border: 2px solid rgba(209, 0, 0, 0.816);
    margin-right: 2vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: calc(12px + 0.3vw);
}
.input:focus{
    outline: none;
    box-shadow: 1px 1px 10px white;
    font-size: calc(12px + 0.3vw);
}
.input::placeholder{
    text-align: center;
    font-size: calc(12px + 0.3vw);
}
.searchDiv{
    display: flex;
    flex-direction: column;
}
.btnDiv{
    position: absolute;
    left: 0;
    right: 0;
    top: 55vh;

}
.info{
    font-family: serif;
    font-size: calc(20px + 0.5vw);
    cursor: pointer;
    margin-top: 3vh;
    color:white;
}
.rateTitle{
    font-size: calc(10px + 0.5vw);
}
.innerRateText{
    font-size: calc(8px + 0.5vw);
}

.infoText{
    width: clamp(150px, 20vw, 20vw);
    height: auto;
    padding: 2vw;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    position: absolute;
    right: 20vw;
    top: 60vh;
    z-index: 2;
    font-family: sans-serif;
    background-color: white;

}
.switch{
    margin-top: 5vh;
    margin-right: 1vw;
    width:calc( 15px + 1vw);
    cursor: pointer;
    color: white;
}
.countryCodes{
    height: 14vh;
    width: clamp(70px, 7vw, 7vw);
    overflow: scroll;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid white;
    margin: 1vw;
    color: rgb(0, 0, 0);
    
}
.countryCodesTo{
    height: 14vh;
    width: clamp(70px, 7vw, 7vw);
    overflow: scroll;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid white;
    margin: 1vw;
    color: rgb(0, 0, 0);
}

.curencyCodeText{
    cursor: pointer;
}
.curencyCodeText:hover{
    width: 100%;
    background-color: rgb(248, 235, 66);
    color: black;
}
.amountAndCodesDivWrapper{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: clamp(12px, 2vw, 5vw);
    background-color: white;

}
.exchnageInfoTextunderDiv{
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 4vh;
    padding: 1vw;
}
.payPalLogo{
    width: clamp(50px, 5vw, 5vw);
}
.exchnageInfoText{
    font-size: calc(8px + 0.2vw);
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    width: clamp(140px, 15vw, 15vw);
}
.amountAndCodesDiv{
    display: flex;
    flex-direction: row;

}
.placeholderDiv{
    width: clamp(70px, 7vw, 7vw);
    height: 14vh;
    margin: 1vw;
}
.currencyInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0vh;
    margin: 0vw 2vw 0vw 2vw;
    font-size: calc(10px + 0.5vw);
    font-family: "serif";

}
.btnVisaLogoDiv{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    gap: 02vw;
    bottom: 9vh;
}
.ratesToPay{
    border-radius: 10px;
    border: 1px solid black;
    padding: 1vw;
    margin-top: 2vh;
    font-size: calc(8px + 0.3vw);
  
}


