.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: clamp(90px, 15vh, 90px);
    background-color:rgb(250, 213, 47) ;
    box-shadow: 0px 0px 10px;
}
.burger{
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: calc(50px + 0.5vw);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3;
}
.nav{
    margin-right: 8vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.link{
    color: black;
    font-size: calc(8px + 0.8vw);
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
}
.link:hover{
    color: white;
  
}
.copuntryDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 2vw;
    top: 3vh;
}
.flag{
    width: calc(40px + 2vw);
}
.input{
    width: clamp(120px, 10vw, 10vw);
    height: clamp(30px, 1vh, 4vh);
    border-radius: 15px;
    border: none;
    text-align: center;
    box-shadow: 1px 1px 10px;
    margin-right: 2vw;
    font-size: calc(12px + 0.3vw);
}
.input:focus{
    outline: none;
    box-shadow: 1px 1px 10px white;
    font-size: calc(12px + 0.3vw);
}
.input::placeholder{
    text-align: center;
    font-size: calc(12px + 0.3vw);
}
.cart{
    width: calc(28px + 0.2vw);
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: clamp(4px, 0.3vw, 0.3vw);
    border-radius: 5px;
    z-index: 2;
    border: solid 2px rgb(216, 248, 248) ;
    top: 14vh;
    right: 1.8vw;
    cursor: pointer;
}
.cart:active{
    transition:1s;
    color: aqua;
}
.itemInCartAmount{
    position: absolute;
    top: 18vh;
    right: 1.5vw;
    color: rgb(0, 0, 0);
    z-index: 3;
    font-size: calc(14px + 0.2vw);
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding-left: clamp(4px, 0.3vw, 0.3vw);
    padding-right: clamp(4px, 0.3vw, 0.3vw);

}
@media only screen and (max-width: 600px) {
    .itemInCartAmount{
        top: 17vh;
    
    }
}
@media only screen and (max-width: 670px) {
    .navInHeader {
    opacity: 0;
    pointer-events: none;

    }
  }